* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
  background-image: url('https://images.pexels.com/photos/714525/pexels-photo-714525.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 1rem;
  background-color: white;
  color: rgb(230, 73, 0);
  text-align: center;
  width: 600px;
}

#assignment {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 600px;
  
}

#assignment h2 {
  font-size: 2rem;
  border-bottom: 4px solid #ccc;
  color: #1b995e;
  margin: 0 0 1rem 0;
}

p {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: rgb(255, 102, 0);
  padding: 0.5rem;
  color: #fafafa;
  border-radius: 25px;
}

#assignment input {
  margin-top: 12px;
  font: sans-serif;
  font-size: 18px;
  border: 1px solid #e06614;
  border-radius: 18px;
  text-align: center;
  color: #e06614;
}

#assignment input:focus {
  outline: none;
  border-color: #e06614;
  background-color: rgb(240, 219, 198);
  color: #e06614;;
}

#assignment button {
  font: inherit;
  cursor: pointer;
  border: 1px solid hsla(14, 93%, 53%, 1);
  background-color: rgb(212, 56, 9);
  color: white;
  padding: 0.05rem 1rem;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  margin-right: 10px;
}


#assignment button:hover,
#assignment button:active {
  background-color: #bd5008;
  border-color: #bd5008;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

.user1 {
  background-color: #FCAE1E;
  color: white;
}

.user2 {
  background-color: #B2560d;
  color: white;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.btnsection
{
  margin-top: 20px;
}