* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
  background-image: url('https://images.pexels.com/photos/714525/pexels-photo-714525.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 1rem;
  background-color: #ffffff;
  color: rgb(214, 57, 10);
  text-align: center;
  width: 600px;
}

#assignment {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: auto;
  border-radius: 10px;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.2rem;
  text-align: center;
  background-color: #ffffff;
  width: 600px;
}

#assignment h2 {
  font-size: 2rem;
  border-bottom: 4px solid #ccc;
  color: #1b995e;
  margin: 0 0 1rem 0;
}

p {
  font-size: 1.25rem;
  font-weight: bold;
  background: linear-gradient(90deg, hsla(14, 93%, 53%, 1) 0%, hsla(30, 84%, 58%, 1) 100%);
  padding: 0.5rem;
  color: #ffffff;
  border-radius: 25px;
}

#assignment input {
  margin-top: 12px;
  font: sans-serif;
  font-size: 18px;
  border: 1px solid #e06614;
  border-radius: 18px;
  text-align: center;
  color: #e06614;
}

#assignment input:focus {
  outline: none;
  border-color: rgb(194, 59, 18);
  background-color: rgb(248, 207, 195);
}

#assignment button {
  font: inherit;
  cursor: pointer;
  border: 1px solid hsla(14, 93%, 53%, 1);
  background-color: hsla(14, 93%, 53%, 1);
  color: white;
  border-radius: 20px;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

#assignment button:hover,
#assignment button:active {
  background-color: rgb(228, 72, 25);
  border-color: rgb(194, 59, 18);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

.user1 {
  background-color: blue;
  color: white;
}

.user2 {
  background-color: purple;
  color: white;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
