* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(90deg, hsla(14, 93%, 53%, 1) 0%, hsla(30, 84%, 58%, 1) 100%);
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 1rem;
  background-color: #ffffff;
  color: white;
  text-align: center;
  width: 600px;
  background-image: url('https://images.pexels.com/photos/714525/pexels-photo-714525.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

#assignment {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  background: white;
  width: 600px;
}

#assignment h2 {
  font-size: 2rem;
  border-bottom: 4px solid #e06614;
  color: rgb(214, 57, 10);
  margin: 0 0 1rem 0;
}

#assignment p {
  font-size: 1.25rem;
  font-weight: bold;
  background: linear-gradient(90deg, hsla(14, 93%, 53%, 1) 0%, hsla(30, 84%, 58%, 1) 100%);
  padding: 0.5rem;
  color: white;
  border-radius: 25px;
}

#assignment input {
  margin-top: 12px;
  font: sans-serif;
  font-size: 18px;
  border: 1px solid #e06614;
  border-radius: 18px;
  text-align: center;
  color: #e06614;
}

#assignment input:focus {
  outline: none;
  border-color: #e06614;
  background-color: rgb(240, 219, 198);
  color: #e06614;;
}

#assignment button {
  font: inherit;
  cursor: pointer;
  border: 1px solid rgb(236, 63, 10);
  background-color: rgb(236, 63, 10);
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

#assignment button:hover,
#assignment button:active {
  background-color: #bd5008;
  border-color: #bd5008;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
